//
//	Vail PassFinder
//	SASS Variables
//

$black		:	#000;
$blue		:	#013a81;
$blueDk		:	#162348;
$green		:	#9ccb3b;
$grayDk		:	#393939;
$grayLt		:	#f3f4f4;
$offwhite	:	#f1f1f1;
$orange		:	#f8951f;
$white		:	#fff;

$toggleWidth:	35px;
$mobileToggleWidth: 37px;